.container {
background-color: #232829;
}

.text-and-tariff {
    padding: 20px 16px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;

    @media (min-width: 375px) {
        font-size: 24px;
    }
    @media (min-width: 440px) {
        font-size: 40px;
        padding-top: 50px;
    }
}

.text {
    border: 1px solid red;
    margin: 0;

}

.text-tariff {
    color: var(--color-bgc);

}

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid red;
    background: var(--color-yellow);
    color: var(--color-bgc);
    border-radius: 20px;
    height: 55px;

    font-size: 18px;
    font-weight: 700;
}
