
.main-div {
    background-color: var(--color-bg);
    padding: 0 16px;

    @media (min-width: 740px) {
        padding: 0 15%;
    }

}


.desctiption {
    display: flex;
    background: var(--color-gray-300);
    padding: 14px 0 14px 40px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 16px;
    margin-bottom: 16px;

    @media (min-width: 375px) {
        margin-bottom: 24px;
        max-width: 343px ;
    }
    @media (min-width: 767px) {
        font-size: 16px;
        padding: 18px 0 18px 52px;
        margin-bottom: 30px;
        max-width: 499px ;
    }
}



